/*Panel 1*/

  .panelItemWhite{
      background-color: none;
  }
  .panelItemPink{
    background-color: #f7deda;
}

  /* Panel items */

  .panelItemColumnText{
    display: flex;
    margin: auto 0;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    order:+1;
  }
  .panelItemColumnPicture{
    padding: 0;
  }

/*Media Queries*/

  @media only screen and (min-width : 320px){
    .mainHeading1{
      margin-bottom: 1rem;
      font-weight: 400;
    } 
    .subheading1{
        font-size: 1.1rem;
    }
    .itemHeadingLeft{
        margin-bottom: 1.2rem;
    }  

    .itemDescription{
        font-size: 1rem;
        text-align: justify;
    }
    .itemDescriptionLarge{
        font-size: 1.5rem;
        text-align: justify;
    }
  }
    @media only screen and (min-width : 576px){
        .subheading1{
            font-size: 1.3rem;
        }
        .itemDescription{
            font-size: 1.1rem;
        }
    }
   
    @media only screen and (min-width : 992px){
        .subheading1{
            font-size: 1.5rem;
        }
        .itemDescription{
            font-size: 1.1rem;
        }
        .panelItemColumnText{
            order: 0;
            padding: 2.5rem;
        }
        .itemHeadingLeft{
            margin-bottom: 2rem;
        }  

    }
    @media only screen and (min-width : 1200px){
        .panel1{
            padding: 3.2rem;
        }
        .subheading1{
            font-size: 1.6rem;
        }
    }