@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Kiwi+Maru:wght@300;400;500&display=swap');


.content{
}
.panels{
  padding: 4rem;
}
a.button:hover{
  background-color: #704340;
  color:white;
}
.navbar{
  background-color: white;
  font-family: "comfortaa";
  margin: 0.2rem 4rem;
}
footer{
  border-top: 1px solid black;
  font-family: "comfortaa";
  font-size: 0.9rem;
}
footer a{
text-decoration: none;
}
.footerHeadings{
  font-size: 1.3rem;
}
@media only screen and (min-width : 320px){
    html{
    }
    body{
      font-size: 1rem;
    }
    h1, h2, h3, h4, h5, h6{
      font-family: "Kiwi Maru";
    }
    p{
      font-family: "Comfortaa";
    }
    .button{
        background-color:#9b6b5f;
        color: white;
        padding: 9px 15px;
        width: auto;
        font-size: 0.9rem;
        font-family: "Comfortaa";
        margin: 1rem 0rem;
      }   
}
@media only screen and (min-width : 600px){
    .button{
        padding: 13px 20px;
        font-size: 1rem;
      }
}
@media only screen and (min-width : 1025px){
    .button{
        padding: 13px 25px;
        font-size: 1.2rem;
     }
}