/*Panel 1*/

  .panel1{
    background-color: #f7deda;
  }
  .panelItemWhite{
      background-color: none;
  }
  .panelItemPink{
    background-color: #f7deda;
}
  
  .panel1Row{
    margin: auto;
  }
  .panel1Column{
    margin: auto;
    text-align: center;
  }

  /* Panel items */
  .panelItemRow{
  }
  .panelItemColumnText{
    display: flex;
    margin: auto 0;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    order:+1;
  }
  .panelItemColumnPicture{
    padding: 0;
  }

/*Media Queries*/

  @media only screen and (min-width : 320px){
    .panel1{
        padding:2.7rem;
    }
    .mainHeading1{
      margin-bottom: 1rem;
      font-weight: 400;
    } 
    .subheading1{
        font-size: 1.1rem;
    }
    .itemHeadingLeft{
        margin-bottom: 1.2rem;
    }  
    .itemHeadingRight{
        margin-bottom: 1.2rem;
        text-align: left;
    }  
    .itemDescription{
        font-size: 1rem;
        text-align: justify;
    }
    .itemPic{
        width: 100%;
        padding: 1rem;
    }
  }
    @media only screen and (min-width : 576px){
        .subheading1{
            font-size: 1.3rem;
        }
        .itemDescription{
            font-size: 1.1rem;
        }
    }
   
    @media only screen and (min-width : 992px){
        .panel1{
            padding: 3rem;
        }
        .subheading1{
            font-size: 1.5rem;
        }
        .itemDescription{
            font-size: 1.1rem;
        }
        .panelItemColumnText{
            order: 0;
            padding: 2.5rem;
        }
        .itemPic{
            width: 100%;
            padding: 2.5rem;
        }
        .itemHeadingRight{
            text-align: right;
        }  
    }
    @media only screen and (min-width : 1200px){
        .panel1{
            padding: 3.2rem;
        }
        .subheading1{
            font-size: 1.6rem;
        }
    }